/* CSS Document */


/*Fuentes externas*/
@import url('https://fonts.googleapis.com/css?family=Exo');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{	
	background: #08454c;
	padding: 15px;
 }

header h1, h6{
	text-align: center;
    font-family: 'Exo', sans-serif;
	color:white;
}

nav{	
	background: #012023;	
}

nav ul{
	list-style: none;	
	text-align: center;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
	font-family: 'Exo', sans-serif;
}

nav ul li a:hover{
	text-decoration: none;
}

.padding-perso{
	padding: 10px;		
}

.personal-estilo h6{
	text-align: left;
	font-size: 2em;
	color: black;
}

.formato-trio span{	
	display: block;
	text-align: center;
	font-size: 50px;
	color: #3daedb;
	margin-top: 5px;
}

#btn-menu{	
	display: none;		
}

#menubtn{
	padding: 10px;	
}

#banner{
	margin-top: 20px;
	display: flex;
	justify-content:space-around;
	background: #1595A3;
	padding: 10px;
	color: white;
}

@media (max-width:1199px) {
	.personal-estilo h6, p{
		text-align: center;
	}
}

@media(max-width:900px) {
	header, nav{
		width: 100%;
	}	
}

@media (max-width:670px) {
	#banner{			
		flex-direction:column;
	}
	#banner h3,p{
		text-align: center;
	}
	.formato-trio{
		margin-bottom: 20px;
	}
}

@media (max-width:500px) {
	nav{
		display: none;
	}
	nav ul li{
		display: block;
	}
	#btn-menu{
		display: block;
		cursor: pointer;	
		text-align: center;	
		padding: 10px;
	}	
	
}





